
/* resolve colour accessibility issues */
:root {
    --header: #a7dbf7;
    --background: #b7039c;
    --pale:#fed2c5;
    --highlight:  #366586;
    --main-marg: 50px;
    /* fix this resolve to make life easier! */
    --rocksalt:font-family: 'Rock Salt', cursive;
}


h1{
    font-family: 'Rock Salt', cursive;
    font-size: 8vw;
    padding: var(--main-marg);
    text-align: center;
}

h2{
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    padding: var(--main-marg) 0px var(--main-marg) 0px;
    text-align: center;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    padding: var(--main-marg) 0px var(--main-marg) 0px;
}

li{
    font-family: 'Rock Salt', cursive;
    font-size: 1.5vw;
}

p{
    font-family: 'Alegreya Sans', sans-serif;
    padding: 10px 0px;
    font-size: 1.5vw;
}

body{
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    color: var(--background);
}

/* 

navigation needs/wants:
    - font change possibly - H2?
    - icons?
    - css animation
    - colour accessibility issues
    
*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    color: var(--pale);
}

.nav a:link {
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: var(--pale);
}
.nav a:visited{
    color: var(--pale);
}

.nav a:hover{
    color: var(--header);

}

li{
    margin: 20px;
    transition: width 2s;
}

li a:hover{
    background-color: #366586;
    width: 500px;
}

/* 
hero wants/needs: 
    - 
*/

.hero{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero img{
    width: 33.33vw
}

/* 
header wants/needs:
    - font
    - animtions? - glow?
    - maybe create logo/image of name
*/

header{
    display: flex;
    margin: 50px;
    color: var(--header);
    justify-content: center;

}

/* 
main wants/needs: 
    - justify main container on the centre of the page
    - colour
*/

main{
    background-color: var(--pale);
    display:flex-column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    margin: 0px 25px;
}

/* 
about wants/needs: 
    - 
*/

#about{
    margin-bottom: var(--main-marg);
}

/* should #me be a span? */
#me{
    font-size: 4vw;
}

/* 
work wants/needs: 
    - 
*/

#work{
    display: flex;
    display: block;
    margin-bottom: var(--main-marg);

}

/* this is just not working and i cannot figure it out. The flex container is restricting it possibly. auto works but it doesnt then resize. just needs looking at badly! */
div img{
    width: 100%;
    padding:10px;
}

/* 
projects wants/needs: 
    - animation
    - colour
*/

.project1 {
    display: flex;
    margin: var(--main-marg) 0px var(--main-marg) 0px;
    padding: 10px;
    height:auto;
    border-radius: 5px;
    align-items: center;
    color: var(--pale);
    background-color: var(--highlight)
}

.project2 {
    display: flex;
    margin: var(--main-marg) 0px var(--main-marg) 0px;
    padding: 10px;
    height:auto;
    border-radius: 5px;
    align-items: center;
    color: var(--pale);
    background-color: var(--highlight)
}

/* 
contact wants/needs: 
    - CONTENT!
*/

#contact{
    margin: var(--main-marg) 0px;
    padding-bottom: var(--main-marg);
}

.logo{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


#contact img{
    display: inline-flex;
    width: 90px;
    justify-content: center;
}

/* 
footer wants/needs: 
    - colour of icons - both black?
*/

footer {
    display:flex;
    justify-content: center;
    margin: var(--main-marg);
}

.footer{
    padding: 10px;
    color: var(--header);
    font-family: 'Rock Salt', cursive;
}



@media screen and (max-width:700px) {
    .nav {
        flex-direction: column; 
        align-items: center;   
    }
    
    li {
        margin: 10px;
    }

    .laugh, .silly {
        display: none;
    }
    

    /* trying to make jacket become a wide image - just eyes but cannot seem to change shape, never mind cropping! */
    /* .jacket {
        display: flex;
        width: auto;
        align-items: center; 

    } */
        /* why on earth does this unfinished line (192) justify in the center but if the line is completed it does nothing?!

    }

    /* need to increate image size to 50% of card when display is reduced */
    card {
        flex-direction: column;
        width: auto;
    }

    /* .project img{
        width: 50%;
    } */

    .logo {
        width: auto;
    }
}