/* navigation needs/wants:
    - font change possibly - H2?
    - icons?
    - css animation
    - colour accessibility issues
    
*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    color: var(--pale);
    background-color: var(--highlight);
    text-shadow: 1px 1px 5px var(--background);
}

.nav a:link {
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: var(--pale);
}
.nav a:visited{
    color: var(--pale);
}

.nav a:hover{
    text-shadow: 1px 1px 5px var(--header);

}

li{
    margin: 20px;
    transition: width 2s;
}


/* .hero{
    background-image: url("assets/img/jacket.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */ 
