
/* look at adding more roots - esp colour! */
:root {
    --yellow: #FBD93E;
    --pink: #ED3AA8;
    --pale:#FED6CD;
    --shamrock:  #39CCAD;
    --main-marg: 20px;
}

body{
    background-color: var(--pink);

}

/* 

navigation needs/wants:
    - working links
    - font
    - icons?
    - css animation
    
*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.nav a:link {
    text-decoration: none;
    color: var(--yellow);
}
.nav a:visited{
    color: var(--yellow);
}

.nav a:hover{
    color: var(--shamrock);
}

li{
    margin: 10px;
}

/* 
hero wants/needs:
    - images to match in size/middle be the largest
    - or crop middle image to just eyes anse that as full hero
*/

.hero{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero img{
    width: 100%;

}

/* 
header wants/needs:
    - font
    - animtions?
    - maybe create logo/image of name
*/

header{
    display: flex;
    margin: 50px;
    color: var(--yellow);
    font-family: "Rock Salt";
    font-size: 8vw;
    justify-content: center;

}

/* 
main wants/needs: 
    - justify main container on the centre of the page
    - colour
*/

main{
    background-color: var(--pale);
    display:flex-column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
}

/* 
about wants/needs: 
    - justify h in the centre of the page
    - colour
*/

.about{
    margin: var(--main-marg);

}

/* 
about wants/needs: 
    - justify h in the centre of the page
    - colour
*/

.work{
    display: flex;
    display: block;

}

card img{
    width: 30%;
    padding:10px;
}

/* 
projects wants/needs: 
    - animation
    - colour
*/

.project1 {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    height:auto;
    align-items: center;
    background-color: var(--shamrock)
}

.project2 {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    height:auto;
    align-items: center;
    background-color: var(--shamrock)
}

/* 
contact wants/needs: 
    - justify h in the centre of the page
    - colour
*/

.contact{
    margin: var(--main-marg);
}


/* 
footer wants/needs: 
    - icons
    - colour
*/

footer {
    display:flex;
    justify-content: center;
}